APP_BASE_URL=http://127.0.0.1:8080
AUTO_SYNC_ON_BOOT=1
AUTO_SYNC_INTERVAL_MINUTES=30
ADMIN_PANEL_USERNAME=admin
ADMIN_PANEL_PASSWORD=brenlets
# PLAYER_IMAGE_INDEX_BASE_URL=
# PLAYER_IMAGE_INDEX_EXTENSION=.png
